# Hidden files
.*

# Byte-compiled / optimized / DLL files
__pycache__

# Log Files
*.log

# Environment Variable File
.env

# Static Production Files
static/

# React production files
frontend/build/
frontend/node_modules/