/*
Stylesheet for the component that displays the main page, showing a heat map to illustrate the number of used classrooms
during each time block throughout the week. Each block of time is given a color depending upon the number of classrooms
being used during that time block. Darker purple indicates blocks where more classrooms are used, while lighter yellow
colors indicate less classroom usage. The user is able to filter different buildings to view the number of used
classrooms in any combination of buildings. Hovering over any one of these time blocks shows a tooltip displaying the
number of classrooms in use as well as a link to view each classroom being used during the selected (or hovered over)
time block.

Author: Ryan Johnson
*/

body {
    background-color: #f2f2f2;
}

.main-title {
    text-align: center;
    margin-bottom: 1em;
}

.filter-container {
    float: right;
    position: relative;
    top: -4em;
    right: 7em;
}

.filter-button {
    font-size: 15px;
    height: 3em;
    border-radius: 5px;
    background-color: #3c1952;
    color: white;
}

.filter-button:hover {
    cursor: pointer;
}

.filter-icon {
    margin-right: 5px;
}

.filter-button, .filter-dropdown {
    width: 14em;
}

.filter-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    z-index: 2;
}

.heatmap-container {
    border: 1px solid black;
    background-color: white;
    margin: 1%;
    padding: 1%;
    position: relative;
}

.week-grid {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.time-grid {
    margin-top: 4%;
    width: 100%;
}

.hour-block {
    width: 100%;
    height: 5.48%;
}

.hour-label {
    position: relative;
    display: inline;
    top: -0.5em;
    left: 2em;
    font-size: 60%;
    z-index: 0;
}

.hour-line {
    display: inline-block;
    width: 96%;
    position: relative;
    left: 2em;
    z-index: 0;
}

.legend-container {
    margin: auto;
    text-align: center;
    width: 28%;
}

.days-container {
    display: flex;
    margin-left: -95%;
    width: 95%;
    z-index: 1;
}

.day {
    flex: 1;
    margin: 0 1em 0 1em;
}

.day-header {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1.3em;
}

.heatmap {
    margin-top: 1em;
    border: 1px solid black;
}

.header-font {
    color: #3c1952;
    font-family: Helvetica, sans-serif;
    margin-top: 2em;
}
