/*
Stylesheet for the component that renders the purple navigation bar at the top of the application.

Author: Ryan Johnson
 */

.navbar {
    background-color: #3c1952;
}

.logo {
    height: 7em;
    margin: 0 0 0 4em;
}

Link {
    text-decoration: none;
}

.upload-button {
    background-color: white;
    color: #3c1952;
    width: 10em;
    height: 3em;
    position: absolute;
    top: 5%;
    left: 87%;
    text-align: center;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.upload-button:hover {
    background-color: #cfb988;
    color: #f2f2f2;
    transition: color 0.3s;
}

.upload-text {
    font-size: 19px;
    font-weight: bold;
}