/*
Stylesheet for the component to display each classroom being used during a specific time block on a given day.

Author: Ryan Johnson
 */

.classrooms-header {
    color: #3c1952;
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-top: 2em;
}

.back-button, .next-button {
    background-color: #cfb988;
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: 13%;
    margin-top: -6em;
    margin-left: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.back-button {
    float: left;
}

.next-button {
    float: right;
    margin-right: 2em;
}

.allClasses {
    display: flex;
    width: 95%;
    margin: 0 auto;
}

.classroomsCol {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.class-group {
    break-inside: avoid;
}

.classroom {
    position: relative;
    background-color: #3c1952;
    color: white;
    display: flex;
    border-radius: 20px;
    height: 50px;
    width: 90%;
    margin: 2% auto 0 auto;
    cursor: pointer;
    transition: border-radius 0.3s;
}

.classroom-square {
    border-radius: 0;
}

.dropdown-title {
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    display: flex;
}

.dropdown-icon {
    position: relative;
    margin: auto 0;
}

.classroom-title {
    position: relative;
    margin: auto 0;
    font-size: 25px;
    font-weight: bold;
}

.info-icon {
    position: absolute;
    top: 25%;
    margin-left: 95%;
    transform: scale(1.5);
    color: white;
}

.info-icon:hover {
    color: #cfb988;
}

.courses {
    width: 90%;
    margin: 0 auto;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.courses-visible {
    max-height: 280px;
}

.course {
    border: 1px solid black;
    background-color: white;
    text-align: center;
    padding-bottom: 10px;
}

.course-title {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.course-instructor, .course-seats {
    font-size: 18px;
    margin: 1% 10%;
}
