body {
    background-color: #f2f2f2;
}

.main-title {
    text-align: center;
    margin-bottom: 1em;
}

.filter-container {
    float: right;
    position: relative;
    top: -4em;
    right: 7em;
}

.filter-button {
    font-size: 15px;
    /*width: 100px;*/
    height: 3em;
    border-radius: 5px;
    background-color: #3c1952;
    color: white;
}

.filter-button:hover {
    cursor: pointer;
}

.filter-icon {
    margin-right: 5px;
}

.filter-button, .filter-dropdown {
    width: 14em;
}

.filter-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    z-index: 2;
}

.heatmap-container {
    border: 1px solid black;
    background-color: white;
    margin: 1%;
    padding: 1%;
}

.legend-container {
    margin: auto;
    text-align: center;
    width: 28%;
}

.days-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.day {
    flex: 1;
    margin: 0 1em 0 1em;
}

.day-header {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1.3em;
}

.heatmap {
    margin-top: 1em;
    border: 1px solid black;
}

.header-font {
    color: #3c1952;
    font-family: Helvetica, sans-serif;
    margin-top: 2em;
}

/*.popup-title {*/
/*    font-weight: bold;*/
/*    display: inline;*/
/*}*/

/*.popup-content {*/
/*  margin: auto;*/
/*  background: rgb(255, 255, 255);*/
/*  width: 50%;*/
/*  padding: 5px;*/
/*}*/
/*.popup-arrow {*/
/*  color: rgb(255, 255, 255);*/
/*}*/
/*[role='tooltip'].popup-content {*/
/*  width: 200px;*/
/*  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;*/
/*}*/

/*.popup-overlay {*/
/*  background: rgba(0, 0, 0, 0.5);*/
/*}*/
/*[data-popup='tooltip'].popup-overlay {*/
/*  background: transparent;*/
/*}*/